body {
    background-color: rgb(12, 16, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

header {
    background-color: black;
    width: 750px;
    height: 65px;
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 10px;
    /* border: solid 1px orange; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.navbar button:hover {
    color: black;
    background-color: yellow;
}

.marca a {
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
}





.titulo {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}




.planos {

}

.card-planos {
    background-color: rgb(32, 38, 44);
    padding: 25px;
    width: 230px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.nome {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid brown;
}
.preco-mes {
    display: block;
    margin-top: 20px;
    border: 1px solid brown;
}
.preco {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
.mes {
    color: white;
    margin: 0px;
    display: inline-block;
}
.titulo {
    color: white;
}
.lista-conteudo {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0px; */
    padding-left: 13px;
    
}
.conteudo {
    border: 1px solid white;
    
}
.conteudo p {
    color: white;
    border: 1px solid yellow;
}